*{
  font-family: var(--primary-font);
}
.swiper-slide{
    z-index: 2;
}
.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-button-prev::after,.swiper-button-next::after{
    background-color: var(--dark-color);
    padding: 9px !important;
    background-blend-mode: multiply;
    border-radius: 7px;
    color: #fff;
    font-size: 35px !important;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  #particles-js{
    width: 100% !important;
    height: fit-content !important;
  }
  #empire-entry-slide{
    background-color: var(--dark-color);
    /* background image original- ../content/slider/slide-1.jpg */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .empire-entry-slide-content{
    width: 100%;
    height: fit-content;
    padding: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    position: absolute;
  }
  .empire-slide-logo{
    height: 30vh;
    width: 50vh;
    background-image: url('../content/Logo/logo-white-text.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: darken;
  }
  .empire-logo-below-text{
      color: #fff;
      letter-spacing: 0.5px;
      text-align: center;
      margin-top: -20px;
  }
  .logo-blw-txt{
    color: #fff;
    font-size: 1rem;
  }
  .empire-slide-below-logo-quote p{
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .empire-slide-get-distributionship-btn button{
    height: fit-content;
    width: fit-content;
    padding: 8px 30px;
    background-color: transparent;
    color: #fff;
    font-weight: 400;
    border: 2px solid #fff;
    border-radius: 25px;
    letter-spacing: 0.7px;
    font-size: 1em;
    cursor: pointer;
  }
  .empire-slide-get-distributionship-btn button:hover{
    transition: 300ms ease-in-out;
    transform: scale(0.95);
  }


  /* Range Swiper slide */

  /* Health and hydration section */

  .health-and-hydration-section{
    width: 100%;
    height: fit-content;
    background-color: var(--dark-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 20px;
    flex-direction: column;
  }
  .health-hydration-heading{
    width: 50%;
    height: fit-content;
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;

  }
  .health-hydration-heading h2{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
  }

  .health-hydration-heading p{
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
  }
  .health-hydration-blocks{
    height: 350px;
    background-color: #dfdfdf;
    width: 80%;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    gap: 0px;
    margin-bottom: 40px;
  }
  .health-hydration-section-image-product{
    height: 50vh;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #beyond-purity-block-img{
    background-color: #fff;
    background-image: url('../content/images/water-drop.png');
  }
  #reason-to-believe-block-img{
    background-color: #dfdfdf;
    background-image: url('../content//range-slider/bottle5l.png');
  }
  .health-hydration-section-info-product{
    width: 50%;
    height: 350px;
    background-color: #dfdfdf;
    color: black;
    padding: 30px 30px;
  }
  .health-hydration-section-info-product h3{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.85);
  }
  .health-hydration-section-info-product hr{
    border: 0.5px solid #000;
    width: 60%;
  }
  .health-hydration-section-info-product p{
    font-size: 1em;
    letter-spacing: 0.6px;
    color: rgba(0, 0, 0, 0.57);
    margin-top: 25px;
    line-height: 32px;
    font-weight: 500;
  }
  #listed-ul-blocks{
    padding: 30px 0px 0px 30px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.57);
  }
  #unlisted-ul-blocks{
    list-style: none;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.57);
  }

  /* Claims and benifites */
  .claims-and-benifit-section{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    padding: 50px;
  }
  .claims-and-benifit-section-title{
    font-family: var(--primary-font);
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0 40px 0;
    z-index: 2;
  }
  .claims-and-benifit-section-title h2{
    font-size: 2rem;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
  }
  .claims-and-benifit-info-box{
    height: 50vh;
    width: 100vh;
    padding: 50px 45px;
    z-index: 2;
  }

  #claims-and-benifit-box-1{
    background-color: var(--dark-color);
    margin-left: -65vh;
  }
  #claims-and-benifit-box-2{
    background-color: var(--primary-color);
    margin-left: 65vh;
  }
  #claims-and-benifit-box-3{
    background-color: var(--secondary-color);
    margin-left: -65vh;
  }


  .claims-and-benifit-info-box-title{
    margin-bottom: 40px;
  }
  .claims-and-benifit-info-box-title h3{
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-size: 1.4rem;
  }
  .claims-and-benifit-info-box-desc p{
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.6px;
    font-size: 1.2rem;
    line-height: 35px;
  }

  /* Pattern */
  .eclipse-design{
    height: 60vh;
    width: 60vh;
    background-color: #f0f0f0;
    border-radius: 50%;
  }
  #health-and-hydration-section-eclipse-1{
    position: absolute;
    top: 360vh;
    left: 90vh;
    z-index: 1;
  }
  #health-and-hydration-section-eclipse-2{
    position: absolute;
    top: 420vh;
    left: 50vh;
    z-index: 1;
  }


  /* Why Empire Water Section */
  .why-br-empire{
    background-color: #3e3e3e;
    padding: 40px 20px;
    width: 100%;
    height:258vh;
    z-index: 3;
  }
  .why-br-empire-title{
    padding: 2% 10%;
  }
  .why-br-empire-title h2{
    color: #fff;
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    font-weight: 600;
  }
  .why-br-empire-title p{
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    font-family: 300;
    margin-top: 20px;
  }
  .why-br-empire-figure{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
  }
  .why-br-empire-figure-image{
    background-image: url('../content/shapes/circlesvg.png');
    width: 40vh;
    height: 150vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .why-br-empire-figure-left-ingredients p,.why-br-empire-figure-right-ingredients p{
    background-color: rgba(0, 0, 0, 0.342);
    color: #fff;
    width: fit-content;
    height: fit-content;
    padding: 10px 18px;
    border-radius: 25px;
    font-size: 1.3rem;
    text-align: center;
  }
  #figure-left-ingredients-1{
    margin-top: 3vh;
  }
  #figure-left-ingredients-2{
    margin-top: 37vh;
  }
  #figure-left-ingredients-3{
    margin-top: 37vh;
  }
  #figure-left-ingredients-4{
    margin-top: 37vh;
  }
  /* Right */

  #figure-right-ingredients-1{
    margin-top: 24vh;
  }
  #figure-right-ingredients-2{
    margin-top: 34vh;
  }
  #figure-right-ingredients-3{
    margin-top: 34vh;
  }

  /* Range Div */
  .why-br-empire-product-range{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    margin-top: 60px;
    z-index: 2;
  }
  .why-br-empire-product-range-block{
    height: 40vh;
    width: 40%;
    background-color: #000;
    color: #fff;
    padding: 50px 40px;
  }
  .why-br-empire-product-range-block h4{
    color: white;
    font-size: 1.4rem;
    letter-spacing: 0.6px;
    margin-bottom: 20px;
  }
  .why-br-empire-product-range-block p{
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.2rem;
    letter-spacing: 0.6px;
    margin-bottom: 8px;
  }

  .why-br-empire-product-range-image{
    height: 70vh;
    width: 50%;
    background-image: url('../content/images/all-bottles.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  /* Pattern */
  .circle-pattern{
    height: 60vh;
    width: 60vh;
    background-color: #f0f0f094;
    border-radius: 50%;
    background-blend-mode: multiply;
  }
  #why-br-empire-pattern-1{
    position:absolute;
    top: 550vh;
    right: -20vh;
  }
  #why-br-empire-pattern-2{
    position:absolute;
    top: 650vh;
    left: -30vh;
  }
  #why-br-empire-pattern-3{
    position:absolute;
    top: 780vh;
    right: -10vh;
    z-index: -1;
  }
  #why-br-empire-pattern-4{
    position:absolute;
    top:793vh;
    left: -20vh;
  }

  /* Image Section */
  .images-section{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 25vh;
  }

.image-section-image{
  height: 35vh;
  width: 50vh;
  border-radius: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  margin-bottom: 5vh;
}
#image-section-image-1{
  background-image: url('../content/images/img1.png');
}
#image-section-image-2{
  background-image: url('../content/images/img2.png');
}
#image-section-image-3{
  background-image: url('../content/images/img3.png');
}

#image-section-hr{
  border-top: 2px solid black;
  height: 2px;
  width: 40%;
  margin-bottom: 20px;
  margin-left: 30%;
  border-radius: 20px;
}

/* Filteration Process */
.filteration-process{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
.filteration-process-heading{
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  width: 60%;
}

.filteration-process-image{
  background-image: url('../content/images/filteration.png');
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.essential-section{
  width: 100%;
  height: 60vh;
  background-color: #0b0b0b;
  background-image: url('../content/images/2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.benifits-section{
  width: 100%;
  height: 100vh;
  background-color: #fff;
  background-image: url('../content/images/3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.symbols-section{
  width: 100%;
  height: 60vh;
  background-color: #0b0b0b;
  background-image: url('../content/images/1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.certificate-section{
  width: 100%;
  height: 100vh;
  background-color: #fff;
  background-image: url('../content/images/certificates.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

footer{
  width: 100%;
  height: 60vh;
  background-color: #000;
  background-image: url('../content/images/footers.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}