:root{
    --primary-font:'Poppins', sans-serif;
    --dark-color:#1e1e1e
    ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}
html,body{
    padding: 0;
    margin: 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: var(--dark-color);
    z-index: 9;
}
.header,.navbar-list{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 35px;
    padding: 6px;
}
.navbar-list{
    list-style: none;
}
.header-navbar-link{
    text-decoration: none;
    color: white;
    font-family: var(--primary-font);
    font-size: 1em;
    font-weight: 400;
}
.header-navbar-link:hover{
    color: rgb(202, 202, 202);
}
.get-distributionship-header-btn{
    height: 35px;
    width: fit-content;
    padding: 4px 14px;
    border: 1px solid #fff;
    border-radius: 20px;
    font-family: var(--primary-font);
    font-size: 14px;
    cursor: pointer;
}
.get-distributionship-header-btn:hover{
    transition: 300ms ease-in-out;
    transform: scale(0.95);
}