:root{
    --primary-font:'Poppins', sans-serif;
    --primary-color:#6f6f6f;
    --secondary-color:#2c2c2c;
    --dark-color:#1e1e1e
    ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}
html,body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: #6f6f6f;
}
body::-webkit-scrollbar-button{
    background-color: #6f6f6f;
    height: 0px;
}
body::-webkit-scrollbar-corner{
    border-radius: 5px;
}
body::-webkit-scrollbar-thumb{
    background-color: #0088c7;
    border-radius: 7px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: #fff;
    box-shadow: #1e1e1e 0px 2px 12px -5px;
    z-index: 9;
}
.header,.navbar-list{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 35px;
    padding: 6px;
}
.navbar-list{
    list-style: none;
}
.header-navbar-link{
    text-decoration: none;
    color: var(--dark-color);
    font-family: var(--primary-font);
    font-size: 1em;
    font-weight: 400;
}
.header-navbar-link:hover{
    color: rgba(0, 0, 0, 0.61)
}
.get-distributionship-header-btn{
    height: 35px;
    width: fit-content;
    padding: 4px 14px;
    border: 1px solid #fff;
    border-radius: 20px;
    font-family: var(--primary-font);
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    background-color: #1e1e1ec4;
}
.get-distributionship-header-btn:hover{
    transition: 300ms ease-in-out;
    transform: scale(0.95);
}